#mortgageApplicationForm {
    display: flex;
    margin: auto;
    margin-top: 2%;
    flex-direction: column;
    width: 40%;
    box-shadow: 0 0 10px #000000, 0 0 15px #c1c2c1, 0 0 20px #919191, 0 0 25px #b6b6b6;
    background-color: #f5f5f5af;
    margin-bottom: 10px;
    gap: 10px;
    padding: 50px;
}

#mortgageApplicationForm h1 {
    text-align: center;
}

#mortgageApplicationForm input {
    width: 90%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
}

#mortgageApplicationForm label {
    font-size: 19px;
}
  
.loginFormSubmit {
    display: flex;
    align-items: center;
}

.applicationContainer {
    display: flex;
    flex-direction: row;
}

.leftApplication {
    width: 50%;
}

.rightApplication {
    width: 50%;
}

#mortgageApplicationForm textarea {
    width: 95%;
    font-size: 18px;
    resize: none;
}