.AccountRootContainer{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid;
    padding:30px;
    width: 90%;
    border-radius: 5%;

}

.AccountType{
    border:solid;
    border-radius: 10%;
    text-align:center;
    letter-spacing: 0.2em;
    font-size: 1.5em;
}


.AccountHeader{
    border:solid;
    border-radius: 10%;
    text-align:left;
    letter-spacing: 0.2em;
    font-size: 1.5em;
}
