.MortgageApplicationRootContainer{
    display: flex;
    flex-direction: column;
    width: 31%;
    border-radius: 5%;
    padding: 0px 20px 10px 20px;
    border: 2px solid rgb(131, 131, 131);
    background-color: #f5f5f5;
    margin: 10px;

}

.MortgageTitle{
    border:solid;
    text-align:center;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #000000;
    color: #56d676;
}

.MortgageHeader{
    background-color: #ffffff;
    border:solid;
    text-align:center;
    letter-spacing: 0.2em;
    font-size: 18px;
    margin-bottom: 10px;
}
