.HomeRootContainer{
display: flex;
flex-direction: column;   
margin-left: 20px;
width: 100%;

}

.HomeAccountContainer{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 50px;
width: 60%;
}


.HomePageHeader{
    width: 100%;
    text-align:left;
    margin: 10px 0px 20px 50px;
    letter-spacing: 0.2em;
}


.flex-button {
    background-color: cornflowerblue;
    height: 3rem;
    font-size: 1.1em;
    padding: 0 1.2rem;
    width: 33%;
    white-space:normal
  
}

.HomeAccountContainers{
    display: flex;
    flex-direction: row;
}

.LeftHomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width:35%;
}
.CenterHomeContainer{

}
.RightHomeContainer{
width:25%;
display: flex;
flex-direction: column;
align-items: center;

}

.EndtHomeContainer{
    width:30%;
    border: solid;
    height:fit-content;
    padding-left: 5px;
    padding-bottom: 5px;
  
  
}

.MobileAccountButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display:none;
    font-size: 0.7em;
    width: 100%;
}

@media (max-width: 600px) {
   .LeftHomeContainer {
      width:100%;
      margin-bottom: 10px;
    }
    .HomeAccountContainers{
        flex-direction: column;
    }
    .RightHomeContainer{
       width:100%;
    }
    #receiveSendPage{
        display: none;
    }
    #transferPage{
        display: none;
    }
    .MobileAccountButtons{
        display: block;
    }
}

@media (min-width: 600px)  {
   
     #receiveSendPage{
         display:flex !important;
     }
     #transferPage{
         display: flex !important;
     }
     .MobileAccountButtons{
         display: none;
     }
 }