.HomeRootContainer{
display: flex;
flex-direction: column;    
margin: 0px 20px;
width: 100%;

}

.HomeAccountContainer{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 50px;
width: 60%;
}

.NewAccountContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.HomePageHeader{
    width: 100%;
    text-align:left;
    margin: 10px 0px 50px;
}


.flex-button {
    background-color: cornflowerblue;
    height: 3rem;
    font-size: 1.1em;
    padding: 0 1.2rem;
    width: 33%;
    white-space:normal
  
}

.HomeAccountContainers{
    display: flex;
    flex-direction: row;
}

.LeftHomeContainer{
    width :50%;
}
.CenterHomeContainer{
    width: 5%;
}
.RightHomeContainer{
    width: 40%;
}

.MobileAccountButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display:none;
    font-size: 0.7em;
    width: 100%;
}

@media (max-width: 600px) {
   .LeftHomeContainer {
      width:100%;
      margin-bottom: 10px;
    }
    .HomeAccountContainers{
        flex-direction: column;
    }
    .RightHomeContainer{
       width:100%;
    }
    #depositWithdrawPage{
        display: none;
    }
    #transferPage{
        display: none;
    }
    .MobileAccountButtons{
        display: block;
    }
}

@media (min-width: 600px)  {
   
     #depositWithdrawPage{
         display:flex !important;
     }
     #transferPage{
         display: flex !important;
     }
     .MobileAccountButtons{
         display: none;
     }
 }