
label, input , button{
    font-size:2em;
    }
    
    html, body{
        height:100%;
    }
    
    .login{
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        
       
    }
    
    #auth{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: flex-start;
        border-style: solid;
        gap: 30px;
        padding: 50px;
        
    }
    
    .authentication{
        background-color: blue;
        color:white;
        padding: 10px;
        align-self: center;
    }
    
    
       