.transactionRoot {
    display: flex;
    flex-direction: column;
    /* border-radius: 5%; */
    padding: 7px 20px 10px 20px;
    border: 2px solid #ccc;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-right: 5px;
}
  
.transactionContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
  
.transactionContainer p {
    font-size: 16px;
    margin: 0;
}